
.choice{
	position:absolute;
	top:20%;
	left:20px;
	height:60%;
	width:60px;
	float:left;
	}
	
#choiceselect{
	border-radius: 5px;
	height:100%;
	width:100%;
	border:#474545;
	color: #C60;
	/*border: 3px inset #B36E09;*/
	background-color: #CCC;}

	
.inputnum{
	position:absolute;
	top:20%;
	margin-left:100px;
	height:60%;
	float:left;}
	
#input_a_num{
	height: 100%;
	width: 100px;
	COLOR: #935905;
	border-radius: 5px;
	border: 3px inset #B36E09;
}
	
#makesure{
	height:100%;
	width:55px;
	display: inline-block;
	transition: all .3s ease-out;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #bbb;
	color: #C60;
	font-weight: normal;
	cursor: pointer;
	text-shadow: 0 1px 2px rgba(0,0,0,.4);
	font-family: "微软雅黑";
	font-size: 12px;
	}


#timelimit div #maketimesure {
	display: inline-block;
	transition: all .3s ease-out;
	text-transform: uppercase;
	border-radius: 5px;
	border: 1px solid #bbb;
	color: #C60;
	font-weight: normal;
	cursor: pointer;
	text-shadow: 0 1px 2px rgba(0,0,0,.4);
	font-family: "微软雅黑";
	font-size: 12px;
}

	
.footer-right{width:2%;height:100%; position:absolute; right:3%;bottom:0%;  }
.menu{ width:100%; height:100%; position:absolute; right:50%; bottom:2%;  }
.icon_menu{ position:absolute ;width:160%; height:100%; z-index:10; cursor:pointer;}
.icon_menu span{diplay:none;}
.btn{width:130%;height:120%;z-index:1;position:absolute;bottom:-50px;right:0;cursor:pointer;} 

.btn img{display:block; width:auto; height:auto; max-width:80%; max-height:80%; font-size:0; position:absolute; top:48%;left:38%;margin-top:-26%;margin-left:-24%;overflow:hidden;}

/*
.btn1 img{ background:url(../img/day.png) ; }
.btn2 img{ background:url(../img/photo.png); }
.btn3 img{ background:url(../img/video.png); }
.btn4 img{ background:url(../img/time.png); } */

.btn{-webkit-transition:bottom .1s,right .1s;-moz-transition:bottom .1s,right .1s;-o-transition:bottom .1s,right .1s;-ms-transition:bottom .1s,right .1s;transition:bottom .1s,right .1s;}

.btn1.close, .btn2.close, .btn3.close, .btn4.close{bottom:-50px;right:0;}
.btn1.open{bottom:100%;right:-150%;}
.btn2.open{bottom:100%;right:-30%;}
.btn3.open{bottom:100%;right:100%;}
.btn4.open{bottom:100%;right:230%;}


.footer-center{
	position:absolute;
	top:18%;
	right:1%;
	width:20%;
	height:60%;}
.fcenter{
	float:right;
	width:10%;
	height:100%;
	margin-left:18%;
	bottom:10%;}
.fcenter img{
	display:block;
	width:120%;
	height:120%;}
	
	
	
	
	
#timelimit div #h4 {
	font-family: "微软雅黑";
	font-size: 12px;
	color: #FFF;
}